
@font-face {
    font-family: mvboli;
    src: url(../fonts/mvboli.ttf);
}

body{
    font-family: mvboli;
    background-image:url('../images/dark_wood.png');
}

.game-viewport{
    width:800px;
    height:711px;
    margin: auto;
    position:relative;
    border:1px solid #000;
    overflow: hidden;
    background-color:#000;
    background-image: url('../images/bg.jpg');
    background-size: contain;
}

.clear{
    clear: both;
}

.text-center{
    text-align: center;
}

#side-a,#side-b{
    width:50%;
    height: 100%;
    float:left;
    position: relative;
}

.score-counter{
    width:50%;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:10px;
    border-radius: 10px;
}

#side-b .score-counter{
    position:absolute;
    right:0;
}

.avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 15px;
    background-color: #f1f1f1;
    background-image: url('../images/user.png');
    background-size: cover;
    float: left;
}

.avatar-computer{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 15px;
    background-color: #f1f1f1;
    background-image: url('../images/computer-icon.png');
    background-size: cover;
    float: left;
}

.player-name{
    display: inline-block;
    padding:20px;
}

#side-b .avatar{
    float: right;
}

#side-b .player-name{
    display: inline-block;
    padding:20px;
}

.icon-chips{
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('../images/poker-chips.png');
}

#turn-arrow {
    position: absolute;
    top:44%;
    left:27%;
    width: 400px;
    color:#fff;
    text-align: center;
    font-size: 1.5em;
}


.arrow-a,.arrow-b{
    background-image: url('../images/chalk-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 77px;
    height: 65px;
    display:none;
}

.arrow-a{
    transform: rotateY(180deg);
    float:left;
}

.arrow-b{
    float:right;
}


.turn-text-a, .turn-text-b{
    display: none;
}

.turn-a .arrow-a, .turn-a .turn-text-a{
    display: block;
}

.turn-b .arrow-b, .turn-b .turn-text-b{
    display: block;
}


#computer-stick{
    position:absolute;
    top:57%;
    left:0%;
    color:#fff;
    display: none;
}



.status-green, .status-red, .status-blue{
    position: absolute;
    top: 67%;
    left: 24%;
    padding:5px 15px;
    width:40%;
    text-align:center;
    color:#fff;
    border-radius: 10px;
    display: none;
}

.status-green{
    background-color:rgba(0,167,59,0.96);
    border:4px solid #ebd542;
}

.status-red{
    background-color:rgba(167,20,0,0.96);
    border:4px solid #ebd542;
}

.status-blue{
    background-color: rgba(30,151,209,0.8);
    border:4px solid #ebd542;
}

#deal-btn,#hit-btn,#stick-btn{
    text-align: center;
    border-radius:50%;
    padding:15px;
    box-shadow: 0px 5px 0px #000;
    margin-bottom: 15px;
    color: #fff;
    cursor: pointer;
}

#deal-btn{
    background-color:#b53e44;
}

#deal-btn:hover {
    background-color: #E8747A;
}

#hit-btn{
    background-color:#0e8fcb;
}

#hit-btn:hover{
    background-color:#6DC2EA;
}

#stick-btn{
    background-color:#0ecb70;
}

#stick-btn:hover{
    background-color:#4CDA95;
}



.hand{
    position:relative;
    width:293px;
    height:100px;
    /*border:1px solid #000;*/
}

#side-b .hand{
    position: absolute;
    top: 60%;
    left: 30%;
    /*transform: rotateZ(-15deg);*/
}

#side-a .hand{
    position: absolute;
    top: 60%;
    left: 30%;
    /*transform: rotateZ(15deg);*/
}

.hand .card{
    position:absolute;
    top:0;
    left:0;
    transition:all 0.5s ease;
}

.hand .card:nth-child(1){
     transform: rotateZ(-8deg);
}

.hand .card:nth-child(2){
    left:8%;
}

.hand .card:nth-child(3){
    left:16%;
}

.hand .card:nth-child(4){
    left:26%;
    transform: rotateZ(5deg);
}

.hand .card:nth-child(5){
    left:36%;
}

.hand .card:nth-child(6){
    left:46%;
}

#dealer{
    position: absolute;
    top: 14%;
    left: 48%;
    border: 1px solid #000;
    box-shadow: -5px 6px 0px #3F3F3F;
}

.controls{
    position: absolute;
    width: 100px;
    top:30%;
    right: 0;
    padding:10px;
}

.controls button{
    display: block;
    padding:15px;
    margin-bottom:10px;
    width:100%;
}

.card-counter{
    position:absolute;
    top:70%;
    width:50px;
    height:50px;
    border:1px solid #f1f1f1;
    border-radius:100%;
    color:#fff;
    text-align: center;
    font-size:2em;
}

#side-a .card-counter{
    left:0;
}
#side-b .card-counter{
    right:0;
}

#bet{
    position:absolute;
    bottom:60px;
    left:50%;
    color: #fff;
}

.icon-chip{
    display: inline-block;
    background-image:url('../images/icon-chip-white.png');
    background-size:contain;
    width:28px;
    height:28px;
    transition:all 0.3s ease;
}

#bet-btn{
    display: inline-block;
    min-width:100px;
    padding: 5px 5px 0px 5px;
    border:3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

#bet-btn:hover{
    background-color: #000;
}

#bet-btn:active{
    background-color: #fff;
    color:#000;
}

#bet-btn:hover .icon-chip{
    transform: rotateZ(180deg);
}

#bet-btn span{
    position:absolute;
    display: inline-block;
    width:58px;
    text-align: right;
}

#bet-meter{
    margin: 20px auto;
}

.number-stepper{
    position: relative;
    width: 250px;
}

.number-stepper-label{
    font-size: 2em;
    border: 1px solid #000;
    border-bottom: none;
    border-top-right-radius: 35px;
    display: block;
    width: 130px;
    position: absolute;
    top: -37px;
    background: #fff;
}

.number-stepper .btn {
    text-align: center;
    width: 33px;
    padding: 0px 5px 10px;
    border-radius: 50%;
    font-size: 2em;
    height: 33px;
    font-weight: bold;
    display: inline-block;
    background-color: #2B1E05;
    color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.8);
    cursor: pointer;
    -webkit-user-select: none;
}

.number-stepper .btn:hover{
    border:1px solid #000;
    background-color: #e1bd51;
    color:#000;
}

.number-stepper .currency{
    display: inline-block;
    padding:10px;
    text-align: center;
    font-size: 2em;
}

.number-stepper input[type="number"]{
    width: 76px;
    display: inline-block;
    font-size: 2em;
    text-align: right;
    background-color: #F0E9DE;
}

.dialog{
    width:100%;
    height:100%;
    position: absolute;
    background:rgba(0,0,0,0.5);
    display: none;
}

.dialog-window{
    position:relative;
    width:300px;
    min-height:250px;
    border:2px solid #e1bd51;
    border-radius: 10px;
    background-color: #e2c89c;
    margin: 200px auto;
    text-align: center;
}

.dialog-btn{
    min-width:100px;
    display: inline-block;
    text-align: center;
    padding:10px;
    border:2px solid #e1bd51;
    border-radius: 10px;
    background-color: #2b1e05;
    color: #fff;
    cursor: pointer;
}

.dialog-btn:hover{
    border:2px solid #000;
    background-color: #e1bd51;
    color:#000;
}

.btn[disabled]{
    opacity:0.5;
    pointer-events: none;
}

.blackjack-logo{
    position: absolute;
    bottom: 93%;
    width: 304px;
    left: -2px;
    height: 150px;
    background: url('../images/blackjack_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*________________________________________
|
|    CARD
|_________________________________________
*/
.card {
    display: block;
    height:136px;
    width:100px;
}

.card-front,.card-back{
    position:absolute;
    left:0;
    top:0;
    background-repeat: no-repeat;
    display: block;
    height:100%;
    width:100%;
    background-size: 100%;
    backface-visibility: hidden;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.card-back{
    transform:rotateY(0deg);
}

.card-front{
    transform:rotateY(-180deg);
}

.card.card-flipped .card-front{
    transform:rotateY(0deg);
    box-shadow:1px 1px 9px rgba(0, 0, 0, 0.65);

}

.card.card-flipped .card-back{
    transform:rotateY(180deg);
}

.card-area{
    position: absolute;
    top:60%;
    left:38%;
    height:136px;
    width:100px;
    border: 2px dashed #fff;
    border-radius: 10px;
    opacity: 0.3;
}
/*________________________
|
|    CLUBS
| ________________________
*/
